#Student Visit Security
#Web Space Restriction Description

# MAINTENANCE-PAGE REDIRECT
<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteCond %{REMOTE_ADDR} !^141\.211\.136\.42
 RewriteCond %{REQUEST_URI} !/closed-index.php$ [NC]
 RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
 RewriteRule .* /studentVisit/closed-index.php [R=302,L]
</IfModule>

#Web Space Restriction Description

#CosignProtected On
#AuthType Cosign
#CosignRequireFactor   UMICH.EDU
#SSLRequireSSL
#AuthLDAPURL ldap://ldap.umich.edu
#Require valid-user
#Require ldap-group cn=socStuVisFaculty,ou=User Groups,ou=Groups,dc=umich,dc=educn=socStuVisFaculty,ou=User Groups,ou=Groups,dc=umich,dc=edu
